body{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: none;
	overflow: hidden;
	position: relative;
}
.quotawrapper{
	height: 360px;
    overflow: hidden;
    position: relative;
    width: 360px;
	margin: auto;
	transform-origin: 0 0;
	transform: translate3d(0,0,0);
	-webkit-transform-origin: 0 0;
	-webkit-transform: translate3d(0,0,0);
}
.qcontainer{
	background:url(../image/gardientbg.jpg) no-repeat;
	height: 488px;
	width: 488px;
	position: absolute;
	z-index: 0;
	opacity: 0;
	margin: -63px 0 0 -65px;
}
.bg1{
	background:url(../image/containerbg.png) no-repeat;
	height: 488px;
	width: 488px;
	position: absolute;
	z-index: 4;
}
.usage{
	height: 226px;
    left: 131px;
    position: absolute;
    top: 147px;
    width: 226px;
    z-index: 3;
}
.nusage{
	height: 293px;
    left: 96px;
    position: absolute;
    top: 112px;
    width: 294px;
    z-index: 3;
}
.arrow {
	position: absolute;
	top: 184px;
	left: 167px;
	background: url(../image/arrow.png) no-repeat;
	width: 154px;
	height: 154px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	z-index: 4;
}
.narrow{
	position: absolute;
	top: 95px;
	left: 77px;
	background: url(../image/narrow.png) no-repeat;
	height: 332px;
	width: 332px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	z-index: 4;
}
.usage > div{
	position: absolute;
	width: 226px;
	height: 226px;
	top: 0;
	left: 0;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
.nusage > div{
	position: absolute;
	width: 296px;
	height: 296px;
	top: 0;
	left: 0;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
.usage .lb{
	background: url(../image/lb.png) no-repeat;
}
.usage .lt{
	background: url(../image/lt.png) no-repeat;
}
.usage .rt{
	background: url(../image/rt.png) no-repeat;
}
.usage .rb{
	background: url(../image/rb.png) no-repeat;
}

.nusage .lb{
	background: url(../image/nlb.png) 0 100% no-repeat;
}
.nusage .lt{
	background: url(../image/nlt.png) no-repeat;
}
.nusage .rt{
	background: url(../image/nrt.png) no-repeat;
}
.nusage .rb{
	background: url(../image/nrb.png) no-repeat;
}
.nusagetext{
	color: #000000;
    font-size: 10px;
    height: 258px;
    left: 153px;
    position: absolute;
    text-align: center;
    top: 132px;
	-webkit-transform: rotate(-85deg);
	width: 182px;
    z-index: 4;
}
.usagetext{
	/*transform: rotate(-62deg);
	-webkit-transform: rotate(-62deg);*/
}
.usagetext {
	color: #000000;
	font-size: 12px;
	height: 211px;
	left: 141px;
	position: absolute;
	text-align: center;
	top: 157px;
	width: 206px;
	z-index: 4;
	transform: rotate(-62deg);
	-webkit-transform: rotate(-62deg);
}

.qinfos > div{
	position: absolute;
	z-index: 5;
	font-family: gotham_bold;
}
.qinfos .stat{
	color: #00B2DB;
    font-size: 32px;
    left: 169px;
    text-align: center;
    top: 235px;
    width: 150px;
}
.qinfos .title{
	font-size: 15px;
    left: 173px;
    text-align: center;
    text-transform: uppercase;
    top: 332px;
    width: 140px;
}
.qinfos .st{
	font-size: 18px;
    left: 90px;
    text-align: center;
    top: 374px;
    width: 94px;
}
.qinfos .tt{
	font-size: 18px;
    left: 302px;
    text-align: center;
    top: 374px;
    width: 94px;
}
.recomendation{
	left: 372px;
    position: absolute;
    top: 150px;
}
.recomendation .title{
	margin: 0px 0px 15px 0px;
}
.quotameter .togle{
	position: absolute;
	top: 0;
	left: 0;
}
.quotameter .infcnt{
	background: #fff;
    height: 336px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99;
	width: 100%;
	display: none;
}
.quotameter .infcnt .cnt{
	padding: 30px 20px 20px;
}
.quotameter .infcnt .cnt h2{
	margin-bottom: 15px;
}
.quotameter .infcnt .cnt p{
	margin-bottom: 10px;
}
.quotameter .infcnt .button{
	position: absolute;
	right: 0;
	top: 0;
}
.inftogle{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}